{% extends 'swapi_info/base.html' %}

{% block content %}
<div class="container">
    {% if search_type != 'films' %}
    <h4>{{ item.name }} has been in:</h4>
        {% comment %} <p>Place Holder for movie list</p> {% endcomment %}
        {% for movie in item.films %}
            <p>{{ movie.title }}</p>
        {% endfor %}
    {% else %}
        <p>{{ item.title }} was directed by {{ item.director }}.</p>
    {% endif %}
    <a href={{ request.META.HTTP_REFERER }} name='back'>Back to Results</a>
</div>
{% endblock %}