{% extends 'swapi_info/base.html' %}

{% block content %}
<body>
<div class="row center-align brown-text">
    <div class="card-panel teal lighten-5 flow-text">
        <p>This website allows you to look through information on the 
            <b>Star Wars</b> films in a user friendly manner.</p>
        <p>If you find a person, film, ship, etc that you like, <b>you can favorite</b> it to add it to our favorites database.
            Our homepage lists the top five favorites in each catagory.</p>
        <p>The information we look at is from the <b>SWAPI database</b>, 
            and currently includes information from <b>Episodes I to VII.</b></p>
    </div>
</div>
    <div class="row">
        <div class="col s6">
            <div class="card hoverable teal lighten-3">
                <div class="card-content">
                    <span class="card-title"><b>Films</b></span>
                    <table class="centered striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Favorite Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for films_data in top_five.films %}
                                <tr>
                                    <td>{{ films_data.0 }}</td>
                                    <td>{{ films_data.1 }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="card hoverable orange lighten-2">
                <div class="card-content">
                    <span class="card-title"><b>Characters</b></span>
                    <table class="centered striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Favorite Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for people_data in top_five.people %}
                                <tr>
                                <td>{{ people_data.0 }}</td>
                                <td>{{ people_data.1 }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <div class="card hoverable orange lighten-2">
                <div class="card-content">
                    <span class="card-title"><b>Planets</b></span>
                    <table class="centered striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Favorite Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for planet_data in top_five.planets %}
                                <tr>
                                    <td>{{ planet_data.0 }}</td>
                                    <td>{{ planet_data.1 }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="card hoverable teal lighten-3">
                <div class="card-content">
                    <span class="card-title"><b>Species</b></span>
                    <table class="centered striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Favorite Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for species_data in top_five.species %}
                                <tr>
                                <td>{{ species_data.0 }}</td>
                                <td>{{ species_data.1 }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <div class="card hoverable teal lighten-3">
                <div class="card-content">
                    <span class="card-title"><b>Starships</b></span>
                    <table class="centered striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Favorite Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for starship_data in top_five.starships %}
                                <tr>
                                    <td>{{ starship_data.0 }}</td>
                                    <td>{{ starship_data.1 }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="card hoverable orange lighten-2">
                <div class="card-content">
                    <span class="card-title"><b>Vehicles</b></span>
                    <table class="centered striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Favorite Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for vehicle_data in top_five.vehicles %}
                                <tr>
                                <td>{{ vehicle_data.0 }}</td>
                                <td>{{ vehicle_data.1 }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}