{% extends 'swapi_info/base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col l12 m12 s12">
      <div class="card teal lighten-3 hoverable">
        <div class="card-content center-align">
            <span class="card-title center-align"><b><h3>{{ item.name }}</h3></b></span>
            <form action="favorite" method="POST">
                {% csrf_token %}
                <input type='hidden' name='item_name' value="{{ item.name }}">
                <input type='hidden' name='item_type' value={{ search_type }}>
                <input type='hidden' name='item_url' value={{ item.url }}>
                <input type="submit" class="btn red" value="Favorite this character">
            </form>            
            <table class="centered striped responsive-table">
                <thead>
                    <tr>
                        <th>Birthday</th>
                        <th>Eye Color</th>
                        <th>Hair Color</th>
                        <th>Gender</th>
                        <th>Height</th>
                        <th>Mass</th>
                        <th>Skin Color</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ item.birth_year }}</td>
                    <td>{{ item.eye_color }}</td>
                    <td>{{ item.hair_color }}</td>
                    <td>{{ item.gender }}</td>
                    <td>{{ item.height }} cm</td>
                    <td>{{ item.mass }} kg</td>
                    <td>{{ item.skin_color }}</td>
                  </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-content orange lighten-4 hoverable">
        <table class="centered striped">
            <thead>
                <tr>
                    <th>Species</th>
                    <th>Homeworld</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>
                    {% for species_name in item_content.species %}
                        <a href={% url 'details' 'species' species_name %} name={{ species_name }} >{{ species_name }}</a>
                    {% endfor %}
                </td>
                <td>
                    {% for planet in item_content.homeworld %}
                        {% if planet != 'No Homeworld'%}
                            <a href={% url 'details' 'planets' planet %} name={{ planet }} >{{ planet }}</a>
                        {% else %}
                            {{ planet }}
                        {% endif %}
                    {% endfor %}
                </td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-content teal lighten-4 hoverable">
        <span class="card-title center-align"><b>Starships {{ item.name }} Piloted</b></span>
          <div class="collection center-align">
            {% for starship in item_content.starships %}
              <div class="col l4 m4 s6">
                <a href={% url 'details' 'starships' starship %} class="collection-item" name={{ starship }} >{{ starship }}</a>              </div>
            {% endfor %}
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-content orange lighten-4 hoverable">
        <span class="card-title center-align"><b>Vehicles {{ item.name }} Piloted</b></span>
          <div class="collection center-align">
            {% for vehicle in item_content.vehicles %}
              <div class="col l4 m4 s6">
                <a href={% url 'details' 'vehicles' vehicle %} class="collection-item"name={{ vehicle }} >{{ vehicle }}</a>              </div>
            {% endfor %}
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-content teal lighten-4 hoverable">
        <span class="card-title center-align"><b>Film Appearances</b></span>
          <div class="collection center-align">
            {% for film in item_content.films %}
              <div class="col l4 m4 s6">
                <a href={% url 'details' 'films' film %} class="collection-item"name={{ film }} >{{ film }}</a>              </div>
            {% endfor %}
          </div>
      </div>
    </div>
  </div>
</div>  
{% endblock %}