{% extends 'swapi_info/base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col l12 m12 s12">
      <div class="card teal lighten-3 hoverable">
        <div class="card-content center-align">
            <span class="card-title center-align"><b><h3>{{ item.name }}</h3></b></span>
            <form action="favorite" method="POST">
                {% csrf_token %}
                <input type='hidden' name='item_name' value="{{ item.name }}">
                <input type='hidden' name='item_type' value={{ search_type }}>
                <input type='hidden' name='item_url' value={{ item.url }}>
                <input type="submit" class="btn red" value="Favorite this planet">
            </form>            
            <table class="centered striped responsive-table">
                <thead>
                    <tr>
                        <th>Diameter</th>
                        <th>Rortation P.</th>
                        <th>Orbital P.</th>
                        <th>Pop.</th>
                        <th>Climate</th>
                        <th>Terrain</th>
                        <th>Surface Water(%)</th>

                    </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ item.diameter }}</td>
                    <td>{{ item.rotation_period }} hours</td>
                    <td>{{ item.orbital_period }} days</td>
                    <td>{{ item.population }}</td>
                    <td>{{ item.climate }}</td>
                    <td>{{ item.terrain }}</td>
                    <td>{{ item.surface_water }}</td>
                  </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-content orange lighten-4 hoverable">
        <span class="card-title center-align"><b>Characters from {{ item.name }}</b></span>
          <div class="collection center-align">
            {% for resident in item_content.residents %}
              <div class="col l4 m4 s6">
                <a href={% url 'details' 'people' resident %} class="collection-item" name={{ resident }} >{{ resident }}</a>              </div>
            {% endfor %}
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-content teal lighten-4 hoverable">
        <span class="card-title center-align"><b>Film Appearances</b></span>
          <div class="collection center-align">
            {% for film in item_content.films %}
              <div class="col l4 m4 s6">
                <a href={% url 'details' 'films' film %} class="collection-item"name={{ film }} >{{ film }}</a>              </div>
            {% endfor %}
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}