{% extends 'swapi_info/base.html' %}

{% block content %}
    <p>{{ item.name }}</p>
    <p>{{ item.classification }}</p>
    <p>{{ item.designation }}</p>
    <p>Homeworld</p>
    {% for planet in item_content.homeworld %}
        {% if planet != 'No Homeworld'%}
            <li><a href={% url 'details' 'planets' planet %} name={{ planet }} >{{ planet }}</a></li>
        {% else %}
            {{ planet }}
        {% endif %}
    {% endfor %}
    <p>People</p>
    {% for person in item_content.people %}
        <li><a href={% url 'details' 'people' person %} name={{ person }} >{{ person }}</a></li>
    {% endfor %}

    <p>Favorite {{ item.name }}</p>
    <form action="favorite" method="POST">
        {% csrf_token %}
        <input type='hidden' name='item_name' value="{{ item.name }}">
        <input type='hidden' name='item_type' value={{ search_type }}>
        <input type='hidden' name='item_url' value={{ item.url }}>
        <input type="submit" value="Favorite">
    </form>
    
{% endblock %}