{% extends 'swapi_info/base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col l12 m12 s12">
      <div class="card teal lighten-3 hoverable">
        <div class="card-content center-align">
            <span class="card-title center-align"><b><h3>{{ item.name }}</h3></b></span>
            <form action="favorite" method="POST">
                {% csrf_token %}
                <input type='hidden' name='item_name' value="{{ item.name }}">
                <input type='hidden' name='item_type' value={{ search_type }}>
                <input type='hidden' name='item_url' value={{ item.url }}>
                <input type="submit" class="btn red" value="Favorite this starship">
            </form>            
            <table class="centered striped responsive-table">
                <thead>
                    <tr>
                        <th>Model</th>
                        <th>Class</th>
                        <th>Manufacturer</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ item.model }}</td>
                    <td>{{ item.starship_class }}</td>
                    <td>{{ item.manufacturer }}</td>
                  </tr>
                </tbody>
            </table>
            <table class="centered striped responsive-table">
                <thead>
                    <tr>
                        <th>Length(m)</th>
                        <th>Crew</th>
                        <th>Cost in Credits</th>
                        <th>Passangers</th>
                        <th>MGLT</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ item.length }}</td>
                    <td>{{ item.crew }}</td>
                    <td>{{ item.cost_in_credits }}</td>
                    <td>{{ item.passengers }}</td>
                    <td>{{ item.MGLT }}</td>
                  </tr>
                </tbody>
            </table>
            <table class="centered striped responsive-table">
                <thead>
                    <tr>
                        <th>Atmosphere Speed</th>
                        <th>Hyperdrive Rating</th>
                        <th>Cargo Capacity(kg)</th>
                        <th>Consumables</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ item.max_atmosphering_speed }}</td>
                    <td>{{ item.hyperdrive_rating }}</td>
                    <td>{{ item.cargo_capacity }}</td>
                    <td>{{ item.consumables }}</td>
                  </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-content orange lighten-4 hoverable">
        <span class="card-title center-align"><b>Characters that piloted {{ item.name }}</b></span>
          <div class="collection center-align">
            {% for pilot in item_content.pilots %}
              <div class="col l4 m4 s6">
                <a href={% url 'details' 'people' pilot %} class="collection-item" name={{ pilot }} >{{ pilot }}</a>              </div>
            {% endfor %}
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-content teal lighten-4 hoverable">
        <span class="card-title center-align"><b>Film Appearances</b></span>
          <div class="collection center-align">
            {% for film in item_content.films %}
              <div class="col l4 m4 s6">
                <a href={% url 'details' 'films' film %} class="collection-item"name={{ film }} >{{ film }}</a>              </div>
            {% endfor %}
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}