{% extends 'swapi_info/base.html' %}

{% block content %}
    <p>{{ item.name }}</p>
    <p>{{ item.cost_in_credits }}</p>
    <p>{{ item.model }}</p>
    <p>{{ item.manufacturer }}</p>
    <p>Pilots</p>
    {% for person in item_content.pilots %}
        <li><a href={% url 'details' 'people' person %} name={{ person }} >{{ person }}</a></li>
      {% endfor %}
    <p>Films</p>
    {% for film in item_content.films %}
        <li><a href={% url 'details' 'films' film %} name={{ film }} >{{ film }}</a></li>
    {% endfor %}

    <p>Favorite {{ item.name }}</p>
    <form action="favorite" method="POST">
        {% csrf_token %}
        <input type='hidden' name='item_name' value="{{ item.name }}">
        <input type='hidden' name='item_type' value={{ search_type }}>
        <input type='hidden' name='item_url' value={{ item.url }}>
        <input type="submit" value="Favorite">
    </form>

{% endblock %}